@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .gradient-text {
        background: conic-gradient(from 41deg at 15.95% 85.6%, #0050E5 0deg, #003BAA 360deg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}
